( function() {
    var config = {
        backends: [ "aws-cloudwatch-statsd-backend" ],
        servers: [
            { 
                server: './servers/udp',
                port: {{ default .Env.PORT_UDP "8125" }}
            },
            {
                server: './servers/tcp',
                port: {{ default .Env.PORT_TCP "8125" }}
            }
        ],
        cloudwatch: {
        }
    };

    // set namespace where all metrics should be sent
    var namespace = "{{ default .Env.CLOUDWATCH_NAMESPACE "" }}";
    if (namespace) {
        config.cloudwatch.namespace = namespace;
    }

    // set the aws region
    var aws_region = "{{ default .Env.AWS_REGION "" }}" || "{{ default .Env.AWS_DEFAULT_REGION "" }}";
    if (aws_region) {
        config.cloudwatch.region = aws_region;
    }

    // credentials to use
    var aws_access_key_id = "{{ default .Env.AWS_ACCESS_KEY_ID "" }}";
    var aws_secret_access_key = "{{ default .Env.AWS_SECRET_ACCESS_KEY "" }}";
    var aws_iam_role = "{{ default .Env.AWS_IAM_ROLE "" }}";
    if (aws_access_key_id && aws_secret_access_key) {
        config.cloudwatch.accessKeyId = aws_access_key_id;
        config.cloudwatch.secretAccessKey = aws_secret_access_key;
    } else if (aws_iam_role) {
        config.cloudwatch.iamRole = aws_iam_role;
    }

    return config;
})();
